:root {
	--background: #202020;
	--primary: #121212;
	--primaryShadow: #bdbbbb33;
	--secondary: #ffffffde;
	--button: #757575;
	--mainText: #ffffffde;
	--shadow1: #383738;
	--shadow2: #2a192b;
	--shadow3: #757575;
}
