:root {
	--background:#d3d3d3;
            --primary:#ffffffde;
            --primaryShadow:#bdbbbb33;
            --secondary:#121212;
            --button:#aaa8aa;
            ---mainText:#121212;
            --shadow1:#aaa8aa;
            --shadow2:#2a1d2b;
            --shadow3: #5a5959
}
