:root {
    --background:#7e6651;
            --primary:#362c23;
            --secondary:#e4cfb4;
            --button: #b5c021;
            --mainText:#bac425;
            --shadow1:#004000;
            --shadow2:#0f0;
            --shadow3:#000c00;
}