:root {
                --background : #3a5392  ;
--primary : #21325e  ;
            --secondary : #f1d00a  ;
            --button : #dad6d6  ;
           --mainText : #f0f0f0  ;
            --shadow1 : #002640  ;
            --shadow2 : #0059ff  ;
            --shadow3 : #00020c; 
}